@import url("https://fonts.googleapis.com/css2?family=Asimovian&family=Bebas+Neue&family=Hachi+Maru+Pop&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Oswald:wght@200..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@media (max-width: 952px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  html,
  body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: #121212;
    color: white;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 12px;
  }

  .nav-left {
    display: flex;
    align-items: center;
  }

  #profile {
    height: 35px;
    width: 35px;
    background: url(https://i.pinimg.com/736x/7e/34/7c/7e347c28db58da490a88087abfc55ddf.jpg);
    background-size: cover;
    border-radius: 50px;
    background-position: center;
  }

  .icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
  }

  i {
    font-size: 20px;
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #1c1c1c;
    color: white;
    padding: 20px;
    transition: 0.3s ease;
    z-index: 1000;
    overflow-y: auto;
  }

  .sidebar::-webkit-scrollbar {
    display: none;
  }

  .sidebar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  #sidebar-toggle:checked ~ .sidebar {
    left: 0;
  }

  .sidebar .close-btn {
    display: block;
    text-align: right;
    font-size: 24px;
    cursor: pointer;
    margin-bottom: 20px;
  }

  .sidebar ul {
    list-style: none;
  }
  .menu-btn i {
    font-size: 1.5rem;
  }

  .sidebar ul li {
    padding: 12px 0;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: 0.2s ease;
  }

  .sidebar ul li:hover {
    color: #ff4c4c;
  }

  .channel-list {
    margin-left: 8px;
    display: flex;
    gap: 10px;
    padding: 10px;
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }

  .channel-list::-webkit-scrollbar {
    display: none;
  }

  #list {
    flex: 0 0 auto;
    height: 65px;
    width: 65px;
    border: 2px solid none;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
  }

  .channel1 {
    background: url(https://yt3.googleusercontent.com/9hf-E6buoT2XbAThI7mAWUTNwT8acyHdyi6D-CQE2qH-S5PGvMCgXEMF5z7scYw6_3PjBaImIw=s160-c-k-c0x00ffffff-no-rj);
    background-position: center;
  }

  .channel2 {
    background: url(https://yt3.ggpht.com/6tLBV-DRVemxhmanuezR5HkHshX2g7Y46Rq8cysyO1V-nd2SaQ2Fi8cdgVM-n6v_8XZ5BEimxXI=s176-c-k-c0x00ffffff-no-rj-mo);
    background-position: center;
  }

  .channel3 {
    background: url(https://yt3.googleusercontent.com/LrNcWsJKPW5aRSk0mefpP4W_7cWn8nVD2aQWT5HiEe2KYyGSOX3lTgH2TO7mVSMf92BqwjAD=s176-c-k-c0x00ffffff-no-rj-mo);
    background-position: center;
  }

  .channel4 {
    background: url(https://yt3.ggpht.com/t8z86Svc4diX-k6VHCZ7AY0EFgVin91qLZigPwJLnavVaB0YPa0etWa-c7bG1BUEcbB4U4im=s176-c-k-c0x00ffffff-no-rj-mo);
    background-position: center;
  }

  .channel5 {
    background: url(https://yt3.googleusercontent.com/ytc/AIdro_kX3sdbuu3KFmRPsmlu0R5Rx_BhpxwupjtvJmkEdNfla7w=s176-c-k-c0x00ffffff-no-rj-mo);
    background-position: center;
  }

  .channel6 {
    background: url(https://yt3.ggpht.com/HCv0fXFEEcD0HRyF0_qR1K7b7qO3KCzmIoyH1DEJYB94CIUFhIE5i2t2IDIPX97W1-DK4hegww=s176-c-k-c0x00ffffff-no-rj-mo);
    background-position: center;
  }

  .channel7 {
    background: url(https://yt3.ggpht.com/FEcjRtez5od8UowDo6tTt9WlE-MrIFEmcwPMTORmK9Swk6KCklOmA3xfIG9WuLWfNYfNThQE=s176-c-k-c0x00ffffff-no-rj-mo);
    background-position: center;
  }

  .channel8 {
    background: url(https://yt3.ggpht.com/cxE8FStJktJ2oiuv1f-7OHMfJI7ZlMby4NgPDkfJTyV3sOsvdo5pmsAb8TAcJVNor6gNT2h_0w=s176-c-k-c0x00ffffff-no-rj-mo);
    background-position: center;
  }

  .channel9 {
    background: url(https://yt3.googleusercontent.com/ytc/AIdro_mSh0doIgogNhhpzLcRYEMRorZefkBUe_6LYOWnLgzSyFc=s176-c-k-c0x00ffffff-no-rj-mo);
    background-position: center;
  }

  .channel10 {
    background: url(https://yt3.ggpht.com/HCv0fXFEEcD0HRyF0_qR1K7b7qO3KCzmIoyH1DEJYB94CIUFhIE5i2t2IDIPX97W1-DK4hegww=s176-c-k-c0x00ffffff-no-rj-mo);
    background-position: center;
  }

  #p1 {
    background: url(https://i.pinimg.com/736x/87/5b/4f/875b4fb82c44a038466807b0dcf884cc.jpg);
    background-size: cover;
  }
  #p2 {
    background: url(https://i.pinimg.com/736x/15/8b/f9/158bf91d97fa74c200f297ffd0d07668.jpg);
    background-size: cover;
  }
  #p3 {
    background: url(https://i.pinimg.com/1200x/51/51/19/5151198a01ce24a023324bf520c71ac0.jpg);
    background-size: cover;
  }
  #p4 {
    background: url(https://i.pinimg.com/1200x/c9/5e/a8/c95ea88cd9e3cfa2d2702cde4fdc6355.jpg);
    background-size: cover;
  }
  #p5 {
    background: url(https://i.pinimg.com/1200x/c8/48/fe/c848fe03bbb96bfe0329133ce653e7c0.jpg);
    background-size: cover;
  }
  #p6 {
    background: url(https://i.pinimg.com/736x/b4/b3/2a/b4b32a53baf66255c04550c7f7ec982a.jpg);
    background-size: cover;
  }
  #p7 {
    background: url(https://i.pinimg.com/1200x/d2/12/20/d21220e93ff8b3e624442a30d1938557.jpg);
    background-size: cover;
  }
  #p8 {
    background: url(https://i.pinimg.com/736x/bd/b4/09/bdb409640909faf7c63d74afc37280b8.jpg);
    background-size: cover;
  }
  #p9 {
    background: url(https://i.pinimg.com/736x/6d/20/e1/6d20e1e12d106ec15714dfadc2966861.jpg);
    background-size: cover;
  }
  #p10 {
    background: url(https://i.pinimg.com/736x/41/2a/b6/412ab615d90c4b1d052d9c1ebe729bfd.jpg);
    background-size: cover;
  }

  .contant-list {
    display: flex;
    margin-top: 15px;
    margin-left: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    gap: 1.8vw;
  }

  .contant-list::-webkit-scrollbar {
    display: none;
  }

  .names {
    padding: 8px 25px;
    border: 1px solid none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
    text-transform: capitalize;
  }

  .names:hover {
    background-color: white;
    color: black;
  }

  #all {
    background-color: rgb(42, 41, 41);
    color: white;
  }

  .cards {
    margin-top: 25px;
  }

  .card-text {
    display: flex;
    align-items: center;
    margin: 10px 0px;
  }

  .text {
    margin-top: 20px;
  }

  .name {
    padding-bottom: 2px;
  }

  .card-img {
    height: 400px;
    width: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 10px;

    border-radius: 5px;
  }

  #img0 {
    background: url(https://i.pinimg.com/1200x/38/79/47/387947599416cc6f6e64bd57936d730f.jpg);

    background-size: cover;
    background-position: center;
    margin: auto;
    object-fit: cover;
  }

  #img1 {
    background: url(https://i.pinimg.com/1200x/9f/9d/93/9f9d93151a982a2ff6f3409ea148f0b2.jpg);

    background-size: cover;
    background-position: center;
    margin: auto;
    object-fit: cover;
  }

  #img2 {
    background: url(https://i.pinimg.com/736x/9f/57/6b/9f576b32e77991d40f9774e9918b4b0c.jpg);
    background-size: cover;
    background-position: center;
    margin: auto;
    object-fit: cover;
  }

  #img3 {
    background: url(https://i.pinimg.com/1200x/e1/a7/30/e1a730dac899f2775698bd4d512d2113.jpg);
    background-size: cover;
    background-position: center;
    margin: auto;
    object-fit: cover;
  }

  #img4 {
    background: url(https://i.pinimg.com/736x/b6/8b/29/b68b296e6b10045aa28479564f5749e4.jpg);
    background-size: cover;
    background-position: center;
    margin: auto;
    object-fit: cover;
  }

  #img5 {
    background: url(https://i.pinimg.com/736x/90/d2/fb/90d2fb9d49910b818e92a866df847131.jpg);
    background-size: cover;
    background-position: center;
    object-fit: cover;
    margin: auto;
    object-fit: cover;
  }
  #img6 {
    background: url(https://i.pinimg.com/736x/7f/78/9c/7f789c7507c4df85cdbf4af5fb8c134b.jpg);
    background-size: cover;
    background-position: center;
    object-fit: cover;
    margin: auto;
    object-fit: cover;
  }
  #img7 {
    background: url(https://i.pinimg.com/1200x/6e/e5/c7/6ee5c799d76bf37fc35d26e55acc8cf0.jpg);
    background-size: cover;
    background-position: center;
    object-fit: cover;
    margin: auto;
    object-fit: cover;
  }
  #img7 {
    background: url(https://i.pinimg.com/1200x/b4/78/e7/b478e7d518bfd8459291852193f1546c.jpg);
    background-size: cover;
    background-position: center;
    object-fit: cover;
    margin: auto;
    object-fit: cover;
  }
  #img8 {
    background: url(https://i.pinimg.com/736x/53/88/29/53882923ad25f5abc7dfd165f95adee2.jpg);
    background-size: cover;
    background-position: center;
    object-fit: cover;
    margin: auto;
    object-fit: cover;
  }
  #img9 {
    background: url(https://i.pinimg.com/736x/82/2f/a2/822fa20c05e3048434cfbf122b4e90f1.jpg);
    background-size: cover;
    background-position: center;
    object-fit: cover;
    margin: auto;
    object-fit: cover;
  }

  .card-img i {
    font-size: 4rem;
    color: white;
  }

  .card-profile {
    height: 50px;
    width: 50px;
    background: url(https://yt3.googleusercontent.com/ytc/AIdro_kX3sdbuu3KFmRPsmlu0R5Rx_BhpxwupjtvJmkEdNfla7w=s176-c-k-c0x00ffffff-no-rj-mo);
    background-size: cover;
    border-radius: 50px;
    margin-left: 15px;
  }

  .card p {
    font-size: 14px;
    margin-left: 20px;
    margin-bottom: 20px;
  }

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
    border-top: 1px solid #333;
    z-index: 999;
  }

  .footer-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px 0;
    gap: 10px;
  }

  .foot-item {
    text-align: center;
    color: white;
    font-size: 22px;
    flex: 1;
  }

  .foot-item p {
    font-size: 12px;
    margin-top: 2px;
    color: #aaa;
  }

  .foot-item.create {
    font-size: 32px;
  }

  .foot-item i {
    cursor: pointer;
    font-size: 1.2rem;
  }

  .foot-img {
    height: 35px;
    width: 35px;
    background: url(https://i.pinimg.com/736x/55/68/8d/55688d668f9eb3c7e4c6f2eb96e85283.jpg);
    border-radius: 50px;
    background-size: cover;
    margin-left: 15px;
  }

  #ok {
    font-size: 2rem;
    margin-left: 10px;
  }
}

@media (max-width: 560px) {
  .card-img {
    height: 250px;
    width: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 20px;
    border-radius: 5px;
  }
}

@media (max-width: 450px) {
  .card-img {
    height: 240px;
    width: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 20px;
    border-radius: 5px;
  }
}

@media (min-width: 953px) {
  body {
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    height: 100vh;
    text-align: center;
  }
  body * {
    display: none !important;
  }
  body::before {
    content: " This site is only for Mobile";
    display: block;
  }
}
